<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141259063-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141259063-1');
    </script>

    
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="stylesheet" href='/css/main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
    <div id="container">
        <img src='../images/mascot.jpg'>
        <h1>Anime Tierlist Generator</h1>
        <input id='username' type="text" name="username" value="" placeholder="MAL Username" autofocus="autofocus">
        <button id='listGenerator'>Generate List</button>
        <br>
        <a href='https://github.com/Qnnie/AnimeTierList'><i class="fa fa-github" style="font-size:48px;color:#C7BACA"></i></a>
        <script src='/js/listRedirect.js'></script>
    </div>
</body>
</html>