<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tier List generator</title>
</head>
<body>
    <h1>Welcome to anime tier list</h1>
    <input id='username' type="text" name="username" placeholder="Username">
    <button id='listGenerator'>Generate List</button>
    <script src='/js/listRedirect.js'></script>
</body>
</html>