<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141259063-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141259063-1');
    </script>

    
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="stylesheet" href='/css/main.css'>
    <link rel="stylesheet" href='/css/index.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
    {{> github-corner}}
    <div class="home-wrapper">
        <div id="container">
            <div class="home-left">
                <div class="user-info">
                    <h1 class="title">Anime Tierlist Generator</h1>
                    <div class="search">
                        <input id='username' type="text" name="username" value="" placeholder="Anime List Username" autofocus="autofocus">
                        <i class="material-icons">search</i>
                    </div>
                    <button id='searchMAL'>Search MAL</button>
                    <button id='searchAnilist'>Search AniList</button>
                </div>
            </div>
            <div class="home-right">
                <img src='../images/mascot.jpg'>
            </div>
            <script src='/js/listRedirect.js'></script>
        </div>
    </div>
</body>
</html>