{{#*inline "tier"}}
  <div class="tier">
      <div class="tier-rank" id='{{ this.tier }}-Rank'>
          <h3 class='rank'>{{ this.tier }}</h3>
      </div>
      {{> @partial-block}}
  </div>
{{/inline}}