@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito&display=swap');

:root {
    --S: background: 
}

* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    position: relative;
    text-align: center;
}

#header-img {
    position: absolute;
    left: 10px;
    width: 80px;
    height: auto;
}

#container {
    background: #1D1D1E;
    color: white;
    text-shadow: 3px 3px black;
}

.thumbnail-container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 145px;
}

.thumbnail {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.tier {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 1em; 
}

.tier-rank {
    position: relative;
    min-height: 145px;
}

.anime {
    min-height: 145px;
}

#S-Rank {
    background: #FF7D80;
}

#A-Rank {
    background: #FFBD84;
}

#B-Rank {
    background: #FFDD87;
}

#C-Rank {
    background: #FEFF8A;
}

#D-Rank {
    background: #B4FF89;
}

#F-Rank {
    background: #63FF89;
}

.rank {
    font-size: 6.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}