<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <title>404 Not Found</title>
</head>
<body style='text-align: center'> 
    <p><b>{{errorMsg}}</b></p>
    <img src='https://www.unionsquaredesign.com/wp-content/uploads/2016/04/2848153500_7826b897af_o.png'>
</body>
</html>