<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <title>Anime Tier List</title>
    <style>
        div {
            width: 100vw; 
            height: 100vh; 
            display: flex; 
            justify-content: center; 
            align-items: center;
        }
        h1 { font-size: 10.5rem; }
        </style>
</head>

<body style='text-align: center'> 
    <h3>{{error}}</h3>
    <div>
        <h1>404</h1>
        <img src='/images/mascot.jpg' width='200px' height='auto'>
    </div>  
</body>
</html>
