@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito&display=swap');

:root {
    --button: #DE4F62;
    --tinted-button: #A53244;
    --shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
    --font-family: 'Nunito', Roboto, sans-serif;
}

* {
    margin: 0;
}

#loader-wrapper{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    background: white;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    color: #3d3d3d;
    font-family: var(--font-family);
}

img { 
    width: 150px;
    height: auto;
}

.title {
    font-size: 18pt;
}

.home-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.user-info {
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.home-left {
    grid-area: user-info;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info > * {
    margin-bottom: 10px;
}

.home-right {
    grid-area: image;
}

@media (min-width: 800px) and (max-width: 1024px) {
    .title {
        font-size: 26pt;
    }
}

@media (max-width: 1024px) {
    /* hiding image on mobile */
    .home-right {
        display: none;
    }
    #container {
        grid-gap: 0 !important;
    }
    .title {
        font-size: 26pt;
    }
    .content-type {
        position: absolute;
        bottom: 0;
    }
}

.search {
    display: inline-flex;
    align-items: center;
    position: relative;
    border: #d8d2d2 1px solid;
    border-radius: 4px;
}

.search i {
    margin: 10px;
}

#container {
    padding: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "user-info image";
    max-width: 800px;
}

#container h1 {
    font-size: 2.5rem;
}

#username {
    width: 100%;
    max-width: 100%;
    flex: 1;
    padding: 7px 14px;
    font-size: 22px;
    margin: 0;
    outline: none;
    border: 0;
    color: #2a2a2a;
}

button {
    background: var(--button);
    min-height: 40px;
    box-shadow: var(--shadow);
    font-size: 18px;
    color: white;
    font-weight: lighter;
    padding: 7px 14px;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: all .4s;
}
    
button:hover {
    background: var(--tinted-button);
    cursor: pointer;
}

.darken-button {
    background: var(--tinted-button);
}

@media only screen and (max-width: 800px) {
    button {
        margin: 10px 0px;
    }
    .title {
        font-size: 20pt !important;
    }
}
