@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
    --Banner: #9e7381;
    --SS: rgb(146, 184, 199);
    --S: #6E44FF;
    --A: #B892FF;
    --B: #FFC2E2;
    --C: #FF90B3;
    --D: #EF7A85;
    --F: #E85F5C;
    --imgH: 130px;
    --imgW: 100px;
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Nunito', Roboto, sans-serif;
}


* {
    margin: 0;
}

header {
    position: relative;
    background: var(--Banner);
    display: flex;
    max-height: 130px;
    justify-content: center;
    align-items: center;
}

#header-img {
    width: 80px;
    height: auto;
}

body {
    color: white;
    text-shadow: 2px 2px #383838;
}

header h2 {
    font-size: 3.5rem;
}

.thumbnail-container {
    position: relative;
    display: inline-block;
    width: var(--imgW);
    height: var(--imgH);
}

.thumbnail {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.tier {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 1em; 
}

.tier-rank {
    position: relative;
    min-height: var(--imgH);
}

.anime {
    min-height: var(--imgH);
}

#SS-Rank {
    background: var(--SS);
}

#S-Rank {
    background: var(--S);
}

#A-Rank {
    background: var(--A);
}

#B-Rank {
    background: var(--B);
}

#C-Rank {
    background: var(--C);
}

#D-Rank {
    background: var(--D);
}

#F-Rank {
    background: var(--F);
}

.rank {
    font-size: 6.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
    .tier {
        display: block;
    }
    header h2 {
        font-size: 2rem;
    }
    .rank {
        font-size: 3.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #header-img {
        position: absolute;
        visibility: hidden;
    }
    .thumbnail-container {
        width: 32%;
        height: 200px;
    }
}